


<div class="banner">
  <div class="container">
    <div class="content"></div>
      <h1 class="text-center title">Result</h1>
      <h4 class="text-center"><%=@result%></h4>
      <p class="emoji text-center"><%=@emoji%></p>
      <%= link_to "Replay", new_path %>
    </div>
  </div>
</div>
